.animacao::before {
    content: "Camisetas";
    animation: mudaNome 10s infinite;
    font-weight: 700;
}

@keyframes mudaNome {
    20% {
        content: "Bolsas";        
    }

    40% {
        content: "Calças";
    }

    60% {
        content: "Acessórios";
    }

    90% {
        content: "Tênis";
    }
}